html,
body,
div,
img,
a,
span,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.main {
  width: 100%;
  height: 100%;
  background-image: url("../img/index-headBg.png");
  background-size: 100% 100%;
}
.main .w {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
.main .w .main-text {
  width: 100%;
  height: 100px;
  padding-top: 50px;
}
.main .w .main-text p {
  text-align: center;
  line-height: 30px;
}
.main .w .main-title {
  width: 100%;
  height: 100px;
  margin-top: 50px;
}
.main .w .main-title .main-title-line {
  width: 33.33%;
  height: 1px;
  float: left;
  background-color: #ffffff;
}
.main .w .main-title .main-title-text {
  width: 33.33%;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: center;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
  margin-top: -25px;
}
.main .w .main-list {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  background-color: #f7f5f6;
  padding: 2% 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main .w .main-list ul {
  width: 100%;
  height: 100%;
}
.main .w .main-list ul li {
  width: 100%;
  overflow: hidden;
}
.main .w .main-list ul li div {
  width: 20%;
  height: 50px;
  line-height: 50px;
  float: left;
  color: #562e8c;
  text-align: center;
}
.main .w .main-list ul .main-list-active {
  background-image: url("../img/free-listBg.png");
  background-size: 100% 100%;
}
.main .w .main-list ul .main-list-active div {
  color: #ffffff;
}
.main .w .main-explain {
  width: 100%;
  height: 100px;
  margin-top: 30px;
}
.main .w .main-explain p {
  padding-left: 20px;
  line-height: 30px;
}
.main .w .main-link {
  width: 100%;
  height: 50px;
  margin-top: 100px;
}
.main .w .main-link a {
  width: 200px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  display: block;
  border-radius: 20px;
  background-color: #ff477d;
  color: #ffffff;
  margin: 0 auto;
}
