<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__css/oreopro.css">
</head>
<body>
    <div class="main">

        <div class="main-head">
            <div class="w">
                <img src="__PUBLIC__img/oreopro-head.png" alt="">
                <p class="main-head-title">OREOPro C2C 商城</p>
                <p class="main-head-text">全球首创数字货币+交易所+电商系统深度融合</p>
                <a href="#">即将上线</a>
            </div>
        </div>

        <div class="main-explan">
            <div class="w">
                <div class="main-explan-left">
                    <img src="__PUBLIC__img/oreopro-img1.png" alt="">
                </div>
                <div class="main-explan-right">
                    <ul>
                        <li>
                            <img src="__PUBLIC__img/oreopro-img2.png" alt="">
                            0手续费
                        </li>
                        <li>
                            <img src="__PUBLIC__img/oreopro-img2.png" alt="">
                            无须处理外汇兑换问题
                        </li>
                        <li>
                            <img src="__PUBLIC__img/oreopro-img2.png" alt="">
                            任何人都可以开店
                        </li>
                        <li>
                            <img src="__PUBLIC__img/oreopro-img2.png" alt="">
                            一个账号卖全球
                        </li>
                        <li>
                            <img src="__PUBLIC__img/oreopro-img2.png" alt="">
                            真正原产国发货，没有代购，中间商
                        </li>
                        <li>
                            <img src="__PUBLIC__img/oreopro-img2.png" alt="">
                            接入威客翻译服务
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-coming">
            <div class="w">
                <div class="main-coming-left">
                    <p>我们正在夜以继日的写代码<br>客官莫急</p>
                </div>
                <div class="main-coming-right">
                    <img src="__PUBLIC__img/oreopro-img3.png" alt="">
                </div>
            </div>
        </div>

        <div class="main-foot">
            <div class="w">
                <div class="main-foot-img">
                    <img src="__PUBLIC__img/index-footImg1.png" alt="">
                </div>
                <div class="main-foot-text">
                    <p class="main-foot-text-big">OREO Foundation Ltd (HongKong)</p>
                    <div>
                        <div>
                            <img src="__PUBLIC__img/index-footImg2.png" alt="">
                        </div>
                        <div>
                            <img src="__PUBLIC__img/index-footImg3.png" alt="">
                        </div>
                        <div>
                            <img src="__PUBLIC__img/index-footImg4.png" alt="">
                        </div>
                        <div>
                            <img src="__PUBLIC__img/index-footImg5.png" alt="">
                        </div>
                        <div>
                            <img src="__PUBLIC__img/index-footImg6.png" alt="">
                        </div>
                    </div>
                    <p class="main-foot-text-small">Cookies Policies | Terms and conditions | Privacy Policies</p>
                </div>
                <div class="main-foot-tel">
                    <div>
                        <div class="main-foot-tel-left">
                            <img src="__PUBLIC__img/index-footImg7.png" alt="">
                        </div>
                        <div class="main-foot-tel-right">
                            <span>oreo@oreo.pro</span>
                        </div>
                    </div>
                    <div>
                        <div class="main-foot-tel-left">
                            <img src="__PUBLIC__img/index-footImg8.png" alt="">
                        </div>
                        <div class="main-foot-tel-right">
                            <span>+852 6886 7084 (English)</span>
                        </div>
                    </div>
                    <div>
                        <div class="main-foot-tel-left">
                        </div>
                        <div class="main-foot-tel-right">
                            <span>+86 1302 1616 110 (中文)</span>
                        </div>
                    </div>
                    <div>
                        <div class="main-foot-tel-left">

                        </div>
                        <div class="main-foot-tel-right">
                            <span>+82 070 8837 89</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>
</html>