<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/css/sign.css">
</head>
<body>
    <div class="main">
        <div class="logo">
            <img src="__PUBLIC__/img/logo.png" alt="">
        </div>
        <div class="sign-box">
            <div class="sign-box-head">Sign Up</div>
            <div class="sign-box-title">
                <img src="__PUBLIC__/img/sign-img1.png" alt="">
                接受网站通知
            </div>
            <div class="sign-box-input">
                <p>邮箱：<span>*</span></p>
                <input type="text" name="username" id="username" placeholder="请输入您的邮箱">
            </div>
            <div class="sign-box-input">
                <p>密码：<span>*</span></p>
                <input type="password" name="pwd" id="pwd" placeholder="请输入您的密码">
            </div>
            <div class="sign-box-input">
                <p>重复密码：<span>*</span></p>
                <input type="password" name="repwd" id="repwd" placeholder="请再次输入您的密码">
            </div>
            <div class="sign-box-check">
                <input type="checkbox">
                <span>I`ve read and accept the terms &conditions and privacy policy</span>
            </div>
            <div class="sign-box-link">
                <a href="">Sign Up</a>
            </div>
            <div class="sign-box-explian">
                <p>Already have an account?
                    <a href="/Home/index/login">Login Here!</a>
                </p>
            </div>

        </div>
    </div>
</body>
</html>